.btn-space {
    margin-right: 5px;
}
a.navbar-brand{
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
a.nav-link{
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color:black
}


